header {
  border-bottom: 1px solid $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;

  & > a {
    font-size: 2.4rem;
    line-height: 2.64rem;
    font-weight: 600;

    &::after {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      @include gradient();
    }
  }

  nav {
    z-index: 5;

    @include responsive-small() {
      display: none;

      &.active {
        @include gradient();
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 32px;
      font-weight: 500;

      @include responsive-small() {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      a.contact {
        color: $white;
        padding: 8px 16px;
        @include radius-large();
        @include gradient-hover();

        &::before {
          display: none;
        }
      }

      a {
        position: relative;

        @include responsive-small() {
          color: $white;

          &.contact {
            background: none;
          }
        }

        &::before {
          content: '';
          transition: width 0.3s;
          display: block;
          width: 0px;
          height: 9px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          @include gradient();
          @include radius-small();
        }

        &:hover::before {
          width: 30px;
        }
      }
    }
  }

  button.btn-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 20px;
    padding: 0;

    span {
      width: 100%;
      background: $black;
      height: 3px;
      transition: transform 0.3s;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(45deg) translate3d(6px, 6px, 0px);
      }

      span:nth-child(2) {
        transform: rotate(-45deg);
      }

      span:nth-child(3) {
        transform: rotate(45deg) translate3d(-6px, -6px, 0px);
      }
    }

    @include responsive-small() {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 99;
    }
  }
}
