header {
  & > div {
    padding: 16px 0px;
    border-bottom: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > a {
      font-size: 2.4rem;
      line-height: 2.64rem;
      font-weight: 600;

      &::after {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        @include gradient();
      }
    }
  }

  &.scroll {
    background-color: var(--white);
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    max-width: none;
    @include shadow();
    animation: toBottom 0.3s forwards;

    & > div {
      padding: 16px 32px;
      max-width: 1004px;
      margin: 0 auto;
      border: none;
    }
  }

  nav.menu {
    z-index: 5;
    transition: 0.3s;

    ul {
      display: flex;
      align-items: center;
      gap: 32px;
      font-weight: 500;

      a.contact {
        color: var(--white);
        padding: 8px 16px;
        @include radius-large();
        @include gradient-hover();

        &::before {
          display: none;
        }
      }

      a {
        position: relative;

        &::before {
          content: '';
          transition: width 0.3s;
          display: block;
          width: 0px;
          height: 9px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          @include gradient();
          @include radius-small();
        }

        &:hover::before {
          width: 30px;
        }
      }
    }

    @include responsive-small() {
      @include gradient();
      position: fixed;
      bottom: 0;
      top: 0;
      left: -100%;
      right: 100%;

      &.active {
        left: 0;
        right: 0;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        font-weight: 500;
        height: 100%;

        a {
          color: var(--white);

          &::before {
            display: none;
          }
        }

        a.contact {
          background: none;
          box-shadow: none;
          padding: 0px;

          &:hover {
            transform: scale(1);
          }
        }
      }
    }
  }

  button.btn-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 20px;
    padding: 0;

    span {
      width: 100%;
      background: var(--black);
      height: 3px;
      transition: transform 0.3s;
    }

    &.active {
      position: fixed;
      right: 32px;

      span:nth-child(1) {
        transform: rotate(45deg) translate3d(6px, 6px, 0px);
      }

      span:nth-child(2) {
        transform: rotate(-45deg);
      }

      span:nth-child(3) {
        transform: rotate(45deg) translate3d(-6px, -6px, 0px);
      }
    }

    @include responsive-small() {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 9;
    }
  }
}

nav #dark-switch {
  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .label {
    box-sizing: border-box;
    background-color: var(--gray-dark);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    position: relative;
    height: 26px;
    width: 45px;

    img {
      width: 16px;
    }

    .ball {
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: 4px;
      height: 18px;
      width: 18px;
      transform: translateX(0px);
      transition: transform 0.2s linear;
    }
  }

  .checkbox:checked + .label .ball {
    transform: translateX(20px);
  }
}

.dark nav.mobile a {
  color: var(--black);
}

@keyframes toBottom {
  from {
    transform: translate3d(0, -69px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
