#hero {
  padding-top: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;

  @include responsive-x-small() {
    padding-top: 64px;
  }

  .info {
    max-width: 380px;

    h1::before {
      display: none;
    }

    p {
      margin: 32px 0px 64px;
    }

    a {
      padding: 16px 32px;
      color: var(--white);
      @include gradient-hover();
      @include radius-large();
    }
  }

  @include responsive-small() {
    .image {
      display: none;
    }

    .info {
      max-width: 540px;
    }
  }
}
