:root {
  --gray: #dedede;
  --gray-dark: #1a1a1a;
  --black: #1a1a1a;
  --white: #ffffff;
  --primary-1: #1bae8a;
  --primary-2: #29cc85;
}

.dark:root {
  --gray: #3c3c3c;
  --gray-dark: #3c3c3c;
  --white: #1a1a1a;
  --black: #f1f1f1;
  --primary-1: #14aa91;
  --primary-2: #22c386;
}

@mixin shadow() {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

@mixin gradient() {
  background: linear-gradient(
    90deg,
    var(--primary-1) 0%,
    var(--primary-2) 100%
  );
  @include shadow();
}

@mixin gradient-hover() {
  display: inline-block;
  background: linear-gradient(
    90deg,
    var(--primary-1) 0%,
    var(--primary-2) 100%
  );
  transition: filter 0.3s, transform 0.3s;
  @include shadow();

  &:hover {
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.25));
    background-position: right;
    transform: scale(1.1);
  }
}

@mixin radius-large() {
  border-radius: 4px;
}

@mixin radius-small() {
  border-radius: 2px;
}

@mixin responsive-large {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin responsive-medium {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin responsive-small {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin responsive-x-small {
  @media screen and (max-width: 576px) {
    @content;
  }
}
