@import './variables', './reset';

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: 'Anek Latin', sans-serif;
  background-color: $white;
  color: $black;
  padding: 0px 16px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

section {
  border-bottom: 1px solid $gray;
  padding: 64px 0px;
}

a {
  color: $black;
}

h1 {
  font-size: 4.8rem;
  line-height: 5.3rem;
  font-weight: 600;
}

@import './header', './hero';
