@import './variables', './reset';

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body,
input,
textarea,
button {
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: 'Anek Latin', sans-serif;
  color: var(--black);
}

body {
  background-color: var(--white);
  padding: 0px 32px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

section {
  border-bottom: 1px solid var(--gray);
  padding: 64px 0px;
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: 64px;

  .info p {
    margin-top: 32px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 32px;

    &::before {
      grid-row: span 2;
      content: '';
      display: block;
      width: 26px;
      height: 26px;
      @include radius-small();
      @include gradient();

      @include responsive-x-small() {
        width: 22px;
        height: 22px;
      }
    }

    h2 {
      margin-bottom: 16px;
    }
  }

  @include responsive-medium() {
    grid-template-columns: 300px 1fr;
  }

  @include responsive-small() {
    grid-template-columns: 1fr;
  }

  @include responsive-x-small() {
    padding: 32px 0px;
  }

  &#tech .content {
    gap: 16px 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include responsive-medium() {
      grid-template-columns: 1fr;
    }

    @include responsive-small() {
      grid-template-columns: 1fr 1fr;
    }

    @include responsive-x-small() {
      grid-template-columns: 1fr;
    }

    h2 {
      margin-bottom: 0px;
    }
  }
}

a {
  color: var(--black);
}

.dark a.contact,
.dark #hero .info a,
.dark #contact .content button {
  color: var(--black) !important;
}

.dark input,
.dark textarea {
  background: var(--gray);
}

h1 {
  font-size: 4.8rem;
  line-height: 5.3rem;
  font-weight: 600;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 80px;
    height: 20px;
    @include radius-small();
    @include gradient();
  }

  @include responsive-x-small() {
    font-size: 3.2rem;
    line-height: 3.52rem;

    &::before {
      width: 55px;
      height: 14px;
    }
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 2.64rem;
  font-weight: 600;

  @include responsive-x-small() {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

footer {
  padding: 16px 0px;

  p {
    text-align: center;
  }
}

@import './header', './hero', './projects', 'contact';
